@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@theme inline {
  --container-center: true;
  --container-padding: 1rem;
}

@layer base {
  body {
    @apply bg-white text-neutral-900;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-neutral-950 text-neutral-50;
    }
  }
}
